html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
h2,
p {
  color: #2e2e2e;
}

h1,
h2,
h3 {
  font-family: 'Roboto Slab', serif;
}

h1,
h2 {
  padding-top: 10px;
  padding-left: 60px;
  font-size: 24px;
}

h1 a {
  text-decoration: none;
  color: #2e2e2e;
}

h1 a:hover,
h1 a:focus,
h1 a:active {
  color: #f7b733;
}

h2 {
  text-align: center;
  padding-top: 30px;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.header {
  background-color: #4abdac;
  height: 120px;
}

.branding-title {
  font-family: 'Roboto Slab', serif;
  float: left;
  padding-top: 20px;
  padding-left: 25px;
  font-size: 30px;
}

.branding-title a {
  text-decoration: none;
  color: #fff;
}

.nav,
.items {
  list-style-type: none;
}

.items {
  padding-left: 0;
  text-align: center;
}

.items li {
  display: inline-block;
  padding: 50px;
}

.nav li {
  display: inline;
  float: right;
  padding-top: 50px;
}

.nav li a {
  text-decoration: none;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  padding-right: 25px;
}

.nav li a:hover,
.nav li a:focus,
.nav li a:active {
  color: #dfdce3;
}

#content {
  margin-top: 30px;
}

i {
  padding-right: 5px;
  color: #f7b733;
}

.arrow {
  color: #dfdce3;
}

.catalog-img {
  height: 200px;
}

input,
textarea,
label,
button {
  display: block;
  margin: 0 auto;
  text-align: center;
}

textarea,
input {
  width: 40%;
  margin-bottom: 20px;
  border: 2px solid #2e2e2e;
  padding: 5px;
}

label {
  padding-bottom: 5px;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
}

input {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

input:focus {
  outline: none;
}

button {
  padding: 10px;
  margin-top: 25px;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  color: #4abdac;
  width: 150px;
  background-color: #4c4c4c;
  border: 4px solid #4abdac;
}

button:hover,
button:focus {
  border: 4px solid #f7b733;
  color: #f7b733;
}